# Ignore log & database files
.sql
.sqlite
.log
.idea

# Ignore database & configuration files
/src/php/configuration/database-connexion.php
/src/php/configuration/sql/timken_test.sql
/src/php/configuration/sql/imports/articles.sql
/src/php/configuration/sql/imports/famille.sql