/* ------------------------------------ *
 CSS main
 * ------------------------------------ */
/* ================ DOM ==============*/
:root {
  --form-family: 'Bahnschrift';
  --nav-family: 'Bahnschrift';
}

html {
  height: 100%;
}
body {
  font-family: arial, sans-serif;
  font-size: 80%;
  height: auto;
  width: auto;
  background: rgb(255, 119, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 119, 0, 1) 0%,
    rgba(242, 143, 36, 1) 40%,
    rgba(255, 208, 125, 1) 85%
  );
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0;
}


/* ------------------------------------
  Login page (redirect user to admin panel / demo)
  ------------------------------------ */

/* Formulaire de connexion */

.form-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px #ffdbbe;
  border-radius: 10px;
}

.card-title {
  color: black;
  text-align: center;
  font-size: 40px;
  font-family: var(--form-family);
  margin-top: 25px;
  font-weight: lighter;
  letter-spacing: 1px;
  text-transform: none;
}

.md-form {
  display: flex;
  flex-direction: column;
}

.fa-user, .fa-password{
  margin-bottom: 10px;
}

.fa-password {
  margin-top: 22px;
}

.form-control {
  width: 300px;
  letter-spacing: 1px;
  padding: 8px;
  border-radius: 5px;
}

label[for="form-id"], label[for="form-pass"] {
  margin-top: 2px;
}

.redirect-admin {
  text-decoration: none;
  color: white;
}

.btn-primary {
  position: relative;
  left: 25%;
  width: 50%;
  margin-bottom: 30px;
  border-radius: 5px;
  margin-top: 30px;
  padding: 8px;
  color: white;
  text-align: center;
  font-size: 18px;
  background-color: cornflowerblue;
  border-color: cornflowerblue;
  font-style: var(--form-family);
}

.employee-session {
  position: relative;
  right: -115px;
  height: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.employee-session .redirect-employee {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
}

.employee-session .redirect-employee i {
  margin-right: 27.5px;
  font-size: 20px;
  margin-left: 15px;
  margin-top: -2px;
}

.employee-session .redirect-employee i:hover, .btn-primary:hover {
  cursor: pointer;
}

/* END -- Formulaire de connexion */
/* PopUp (=> générées dans popup.js) */

.contain-send-message {
  display: flex;
  height: auto;
  justify-content: center;
  margin-top: 30px;
  align-items: center;
}

.fa-pop-up {
  margin-right: 10px;
  margin-left: 10px;
  color: black;
}

.popup {
  padding: 8px;
  border-radius: 16px;
  min-width: 200px;
  min-height: 25px;
  max-height: 20px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  animation: bumpPopUp 0.6s;
}

@keyframes bumpPopUp {
  0% {
    margin-top: -200%;
  }
  100% {
    margin-top: 0;
  }
}

/* END -- PopUp (=> générées dans popup.js) */
/* Asset Name & Date */

.about-user {
  position: absolute;
  bottom: 30px;
  height: auto;
  width: 100%;
  display: flex;
  align-items: end;
  flex-direction: column;
}

.about-user > .contain-date, .about-user > .contain-asset-name {
  margin-right: 50px;
  font-size: 14px;
}

@media screen and (max-height: 600px) {
  .about-user {
    display: none;
  }
}

/* END -- Asset Name & Date */
/* Panel gestion de stock */

.features-navigation {
  margin-left: 10%;
  height: 100vh;
  width: 260px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #ffdbbe;
  display: flex;
  overflow: scroll;
  flex-direction: column;
}

.logo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 200px;
}

.nav-redirection {
  color: gray;
  text-decoration: none;
  font-family: var(--nav-family);
  font-size: 16px;
  margin-left: 0;
  display: flex;
  /*background-color: blue;*/
  align-items: center;
}

.nav-fa-icons {
  font-size: 2em;
  color: gray;
  margin-left: 22px;
}

.nav-span {
  margin-left: 16px;
}

.contain-features {
  width: 100%;
}

.features {
  width: 100%;
  margin-top: 28px;
  min-height: 40px;
  display: flex;
  align-items: center;
}

.nav-separator {
  margin-top: 40px;
  width: 100%;
  height: 1px;
  color: black;
}

/* Active navigation */

.nav-active {
  background-color: #ffdbbe;
}

.nav-active .nav-redirection, .nav-active .nav-fa-icons {
    color: black;
}

/* END -- Active navigation */
/* END -- Panel gestion de stock */

/*

.switch-dashboard {
  top: 200px;
  left: 200px;
  position: absolute;
  z-index: 12;
  width: 60px;
  height: 25px;
  border-radius: 20px;
  border: solid black 2px;
}
.switch-indicator {
  position: relative;
  background-color: red;
  margin-top: -1.8px;
  margin-left: -2.5px;
  width: 30px;
  height: 28px;
  border-radius: 50%;
  z-index: 20;
}

.switch-indicator-transition-left {
  animation: slice-left 0.6s;
  animation-fill-mode: forwards;
}
.switch-indicator-transition-right {
  animation: slice-right 0.6s;
  animation-fill-mode: forwards;
}

@keyframes slice-left {
  0% {
    margin-left: 30.5px;
  } 100% {
    margin-left: -2.5px;}
}

@keyframes slice-right {

  0% {
      margin-left: -2.5px;
  } 100% {
      margin-left: 30.5px;
      }

}**/