/* ------------------------------------ *
 CSS main
 * ------------------------------------ */
/* ================ DOM ==============*/
:root {
  --coul_fond: orange;
}

html {
  height: 100%;
}
body {
  font-family: arial, sans-serif;
  font-size: 80%;
  height: auto;
  width: auto;
  background: rgb(255, 119, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 119, 0, 1) 0%,
    rgba(242, 143, 36, 1) 40%,
    rgba(255, 208, 125, 1) 85%
  );
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

/* ------------------------------------ 
  Login page (redirect user to admin panel / demo)
  ------------------------------------ */

/* Formulaire de connexion */

.form-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}

.form-card {
  box-shadow: 0.5px 0.5px 0.5px 0.5px #ff7700;
  width: 100%;
}

.btn-primary {
  position: relative;
  left: 25%;
  width: 50%;
  margin-bottom: 30px;
}

.employee-session {
  position: relative;
  height: 40px;
  display: flex;
  justify-content: end;
}

.employee-session .redirect-employee {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  text-align: center;
}

.employee-session .redirect-employee i {
  margin-right: 27.5px;
  font-size: 20px;
  margin-left: 15px;
}

/* END -- Formulaire de connexion */
/* PopUp (=> générées dans popup.js) */

.contain-send-message {
  position: sticky;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.fa-pop-up {
  margin-right: 5px;
  margin-left: 5px;
  color: black;
}

.popup {
  padding: 8px;
  border-radius: 16px;
  animation: bumpPopUp;
}

@keyframes bumpPopUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* END -- PopUp (=> générées dans popup.js) */
/* Asset Name & Date */

.about-user {
  position: absolute;
  bottom: 30px;
  height: auto;
  width: 100%;
  display: flex;
  align-items: end;
  flex-direction: column;
}

.about-user > .contain-date, .about-user > .contain-asset-name {
  margin-right: 50px;
  font-size: 14px;
}

/* END -- Asset Name & Date */


/*

.switch-dashboard {
  top: 200px;
  left: 200px;
  position: absolute;
  z-index: 12;
  width: 60px;
  height: 25px;
  border-radius: 20px;
  border: solid black 2px;
}
.switch-indicator {
  position: relative;
  background-color: red;
  margin-top: -1.8px;
  margin-left: -2.5px;
  width: 30px;
  height: 28px;
  border-radius: 50%;
  z-index: 20;
}

.switch-indicator-transition-left {
  animation: slice-left 0.6s;
  animation-fill-mode: forwards;
}
.switch-indicator-transition-right {
  animation: slice-right 0.6s;
  animation-fill-mode: forwards;
}

@keyframes slice-left {
  0% {
    margin-left: 30.5px;
  } 100% {
    margin-left: -2.5px;}
}

@keyframes slice-right {

  0% {
      margin-left: -2.5px;
  } 100% {
      margin-left: 30.5px;
      }

}**/